.jfx-snackbar-content{
    -fx-background-color: #2f2f2f;
}

.jfx-snackbar-toast{
    -fx-text-fill: #b3b3b3;
}

.root{
    -fx-background-image: url("../img/giphy.gif");
    -fx-background-size: cover;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}


