.gekolo{
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.mioMessaggio{
    -fx-font-family: "Arial";
    -fx-font-size: 17;
    -fx-padding: 6px 7px 8px 9px;


}
#gp{
    -fx-background-color: #5264ae;
}
#foto{
    -fx-background-image: url("file:H:/RobotClient/src/robotclient/gekolo.jpeg");
    -fx-background-size: 70;
    -fx-background-radius: 50px 50px 50px 50px;
}


.mioDrawer{
    -fx-background-color:  #5264ae;
    -fx-border-radius: 50px;
   // -fx-background-radius: 300px 0px 300px 300px;
   -fx-background-radius: 50px 0px 50px 50px;
}

.ServerDrawer{
	-fx-max-width:500px;
    -fx-background-color:  gray;
    -fx-border-radius: 50px;
   // -fx-background-radius: 0px 40px 40px 20px;
	-fx-background-radius: 0px 50px 50px 50px;
}

.vuoto{
	-fx-background-color:  white;

}







#anc{
    -fx-background-color:  #8996a0;
}

.schiuma{
    -fx-fill:  white;
}